@model GitInitTest.Site.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <img src="~/images/HomeBanner1200x480.png" alt="HomeBanner" style="max-height: 20rem" class="d-block img-fluid mx-auto">
</div>

<div class="text-center">
    <h1 class="display-4">GitInitTest.SiteSite</h1>
    <h4>Insert Tag Line Here!</h4>
</div>
<br />
<div class="container">
    <div class="row mx-auto" style="max-width: 75rem">
        <div class="card-deck" style="width:75rem">
            <div class="card rounded-0 d-block">
                <div class="card-header">
                    <h4>Information Box 1</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This is where details for highlighted items can be put. <a class="btn btn-light" asp-controller="Admin" asp-action="Index">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="card rounded-0 d-block">
                <div class="card-header">
                    <h4>Information Box 2</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This is where details for highlighted items can be put.  <a class="btn btn-light" asp-controller="Admin" asp-action="Index">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="card rounded-0 d-block">
                <div class="card-header">
                    <h4>Information Box 3</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This is where details for highlighted items can be put.  <a class="btn btn-light" asp-controller="Admin" asp-action="Index">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />