.calendar .display-4 {
    font-size: 1.5rem;
}

.day:hover {
    background-color: darkgray
}

@media (max-width:991px) {
    .calendar .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }

    .calendar .date {
        padding-left: 4px;
    }
}

@media (min-width: 992px) {
    .calendar h5 {
        font-size: 0.9rem;
    }

    .calendar .day {
        height: 8vw;
    }

    .calendar .event {
        font-size: 0.67rem;
    }
}

@media (min-width: 1440px) {
    .calendar .day {
        height: 7vw;
    }
}

@media (min-width: 1920px) {
    .calendar .day {
        height: 5.5vw;
    }
}
