<div class="modal fade" id="notifyYesNoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-dark">

                <h5 class="modal-title text-white">Notify User</h5>
                <button type="button" class="close text-white cuClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Would you like to notify the user that their ID has been approved?</p>
            </div>
            <div class="modal-footer">
                <button id="sendToUser" class="btn btn-outline-primary">Yes</button>
                <button type="submit" id="idSearchModalCancel" class="btn btn-outline-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>