<!-- Modal -->
<div class="modal fade" id="userInformationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-dark">

                <h5 class="modal-title text-white">User Details</h5>
                <button type="button" class="close text-white cuClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="border p-1">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>User Id</strong>
                        </div>
                        <div id="cuUsername" class="col-md-9">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>First Name</strong>
                        </div>
                        <div id="cuFirstName" class="col-md-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Last Name</strong>
                        </div>
                        <div id="cuLastName" class="col-md-9">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Email</strong>
                        </div>
                        <div id="cuEmail" class="col-md-9">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12">
                        <strong>Roles</strong>
                    </div>
                </div>
                <div class="border p-1">
                    <div id="cuRoles">
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="submit" id="userInformationModalCancel" class="btn btn-outline-danger cuClose" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
            </div>
        </div>
    </div>
</div>